{{ define "main" }}

<header class="page-header">
    <h1>Categories</h1>
</header>

<ul class="terms-tags" id="terms_title">
    {{ range .Site.Taxonomies.categories }}
    <li>
        <a href="{{ .Page.Permalink }}">{{ .Page.Title }} <sup><strong><sup>{{ .Count }}</sup></strong></sup> </a>
    </li>
    {{- end }}
    
</ul>

<header class="page-header">
    <h1>Tags</h1>
</header>

<ul class="terms-tags">
    {{ range .Site.Taxonomies.tags }}
    <li>
        <a href="{{ .Page.Permalink }}">{{ .Page.Title }} <sup><strong><sup>{{ .Count }}</sup></strong></sup> </a>
    </li>
    {{- end }}
    
</ul>

{{ end  }}