<header class="page-header">
    <button class="tablink" onclick="openPanel(event, 'searc')">Search</button>
    <button class="tablink tombol" onclick="openPanel(event,'cat')" style="margin:0 2%;">Categories</button>
    <button class="tablink" onclick="openPanel(event,'tag')">Tags</button>
</header>

<ul class="terms-tags" id="searc" style="display:none">
    <li>
        <a href="{{ "search" | absLangURL }}" id="cari">  

        Search blog

        <sup>
        <svg id="search_svg" xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="margin:0;">
                <circle cx="11" cy="11" r="8"></circle>
                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
        </svg>
        </sup>
    
        </a>
    </li> 
</ul>

<ul class="terms-tags" id="cat">
    {{ range .Site.Taxonomies.categories }}
    <li>
        <a href="{{ .Page.Permalink }}">{{ .Page.Title }} <sup><strong><sup>{{ .Count }}</sup></strong></sup> </a>
    </li>
    {{- end }}
    
</ul>

<ul class="terms-tags" id="tag" style="display:none">
    {{ range .Site.Taxonomies.tags }}
    <li>
        <a href="{{ .Page.Permalink }}"># {{ .Page.Title }} <sup><strong><sup>{{ .Count }}</sup></strong></sup> </a>
    </li>
    {{- end }}
    
</ul>

<script>
    function openPanel(evt, panelName) {
      var i, x, tablinks;
      x = document.getElementsByClassName("terms-tags");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";  
      }
      tablinks = document.getElementsByClassName("tablink");
      for (i = 0; i < x.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" tombol", "");
      }
      document.getElementById(panelName).style.display = "block";
      evt.currentTarget.className += " tombol";  
    }
</script>