{{define "main"}}

<!-- subtitle -->
<article class="first-entry home-info">
    <header class="entry-header"><h1>{{ .Site.Title }}</h1></header>
    <section class="entry-content">
        <p>
            {{ .Site.Params.homesubtitle }}
        </p>
        <footer class="page-footer" style="margin-top:20px">
              <nav class="pagination">
                <a class="prev" href="{{ "about" | absURL }}">Our services</a>
              </nav>
        </footer>
    </section>
</article>

<!-- show latest post -->
<h2 style="margin: 20px 0; text-align: center;">Latest blog</h2>
{{ range first 1 .Site.RegularPages }}
<article class="post-entry">
    {{- $isHidden := (.Site.Params.cover.hidden | default .Site.Params.cover.hiddenInList)}}
    {{- partial "cover.html" (dict "cxt" . "IsHome" true "isHidden" $isHidden) }}
    <header class="entry-header">
      <h2>
        {{ .Title }}
      </h2>
    </header>
    {{- if (ne .Site.Params.hideSummary true)}}
    <section class="entry-content">
      <p>{{ .Summary | plainify | htmlUnescape }}...</p>
    </section>
    {{- end }}
    {{- if not (.Param "hideMeta") }}
    <footer class="entry-footer">
      {{- partial "post_meta.html" . -}}
    </footer>
    {{- end }}
    <a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}"></a>
</article>
{{end}}

<footer class="page-footer" style="margin-top:20px">
      <nav class="pagination">
        <a class="prev" href="{{ "blog" | absURL }}">See all blogs</a>
      </nav>
</footer>

{{end}}
