@media screen and (max-width: 650px) {
    .nav {
        justify-content:center;
    }

    .logo {
        height:50px;
        margin:15px 30%;
    }

    .logo a img {
        height:4rem;
        margin: 0;
    }

    .first-entry {
        margin:0;
        align-items: center;
        justify-content: center;
    }

    .first-entry .entry-header h1{
        display:block;
        text-transform: uppercase;        
        letter-spacing: 3px; 
    }

    .first-entry .entry-content {
        text-align: center;
    }

    #judul {
        display: none;
    }

    .main {
        padding:3.5%;
    }

    #menu {
        overflow-x: none;
        margin:0;
    }    
    
}    

@media screen and (max-width: 768px) {
    /* theme-vars */
    :root {
        --gap: 14px;
    }

    /* profile-mode */
    .profile img {
        transform: scale(0.85);
    }

    /* post-entry */
    .first-entry {
        min-height: 175px;
    }

    /* archive */
    .archive-month {
        flex-direction: column;
    }

    .archive-year {
        margin-top: 20px;
    }
}

@media screen and (min-width: 768px) {
    /* reset */
    ::-webkit-scrollbar {
        width: 19px;
        height: 11px;
    }
}

/* footer */
@media screen and (max-width: 900px) {
    .list .top-link {
        transform: none;
    }
}

@media (prefers-reduced-motion) {
    /* terms */
    .terms-tags a:active {
        transform: none;
    }

    /* profile-mode */
    .button:active {
        transform: none;
    }

    /* post-single */
    .share-buttons svg:active {
        transform: none;
    }

    /* post-entry */
    .post-entry:active {
        transform: none;
    }

    /* footer */
    .top-link {
        transition: none;
    }

    /* search */
    #searchResults .active {
        transform: none;
    }
}
